<html>
  <head>

  </head>
  <body>
    <a href="/read">back</a><br>
    <% if (error == null) { %>
      Name: <%=r.name%><br>
      Borough: <%=r.borough%><br>
      Cuisine: <%=r.cuisine%><br>
      Street: <%=r.street%><br>
      Building: <%=r.building%><br>
      Zipcode: <%=r.zipcode%><br>
      GPS: [<%=r.corrdX%>, <%=r.corrdY%>]<br>
      Rating:
      <% if (typeof r.rating == "undefined") { %>
        No rating yet
      <% } else r.rating.forEach(rate => rate) %>
      <br>
      Created by: <%=r.owner%><br>
      <a href="/googlemap?lat=<%=r.coordX%>&lon=<%=r.coordY%>">Google Map</a><br>
      <a href="/rate?_id=<%=r._id%>">Rate</a><br>
      <a href="/change?_id=<%=r._id%>">Edit</a><br>
    <% } else { %>
      <%=error%>
    <% } %>
  </body>
</html>
